*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  background: #EDE7F6;
}
input{
  display: block;
  padding: 5px;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #757575;
  margin-left: 5px;
  background: #EEEEEE;
  width: 96%;
  margin-top: 5px;
}
label{
  font-size: 1.2em;
  margin-left: 5px;

}
.form{
  margin: 10px;
  padding: 5px;
  padding-bottom:10px;
  background: white;
  box-shadow: 2px 2px 5px #BDBDBD;
  border-radius:10px;
  min-height: 100px;
  position: relative
}
#checker{
  width: 25px;
  height: 25px;
  border: 2px solid #8E24AA;
  border-radius:100%;
  transition: 0.2s ease-out;
  display: inline-block;
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%)
}
.completed{
  border-radius: 5%;
  background: #8E24AA;
  transform: scale(2)
}
.bt{
  background: #8E24AA;
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  border-radius: 3px;
  width: 98%;
  margin:auto;
  margin-top: 10px;
  text-align: center;
  color: white;
  transition: 0.2s ease;
}
#editBt{
  transform: scaleY(0);
  display: none;
}
#addBt{
  transform: scaleY(1);
  display: block;
}
.editMode #editBt{
  transform: scaleY(1);
  display: block;
}
.editMode #addBt{
  transform: scaleY(0);
  display: none;
}
.todo{
  background: white;
  border-radius: 2px;
  display: flex;
  margin: 10px;
  padding: 10px;
  position: relative;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px #BDBDBD;
  min-height: 60px; 
  align-items: center;
  margin-bottom:10px;
  transition: 0.2s ease;

}
.id{
  display: none;
}
.actions{
  position: absolute;
  bottom: -50px;
  right: 0px;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.showActions{
  margin-bottom:45px;
}
.showActions .icon{
  opacity: 1;
  transform: scaleX(1)
}
.icon{
  width: 36px;
  background: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 5px #BDBDBD;
  transform: scaleX(0);
  transform-origin:right;
  opacity: 0;
  transition: 0.2s all;
}
#delBt{
  margin-right: -5px;
}
